[general]
config_version = 2

[slapd]
root_password = {{ password }}
self_sign_cert =True
instance_name = {{ instance_name | default('localhost')}}

[backend-userroot]
sample_entries = yes
suffix = {{ ldap_suffix }}
create_suffix_entry = True